.round {
    border-radius: 20px !important;
}

.text-center {
    display: block !important;
    text-align: center !important;
}

.hover:hover {
    opacity: 0.8 !important;
    cursor: pointer !important;
}

.hover-card:hover {
    background-color: rgba(44, 44, 47, 0.7) !important;
    cursor: pointer !important;
}

.scrollbar {
    overflow-y: scroll !important;
}

.round-track::-webkit-scrollbar-track {
    border-radius: 8px !important;
}

.scrollbar::-webkit-scrollbar-track {
    background-color: #e1e1e1 !important;
}

.scrollbar::-webkit-scrollbar {
    width: 8px !important;
    border-radius: 8px !important;
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 8px !important;
    background-color: #757575 !important;
}

.unselectable {
    -webkit-touch-callout: none !important; /* iOS Safari */
    -webkit-user-select: none !important; /* Chrome/Safari/Opera */
    -moz-user-select: none !important; /* Firefox */
    -ms-user-select: none !important; /* Internet Explorer/Edge */
    user-select: none !important;
}

.mw-300 {
    max-width: 300px !important;
}

.mw-400 {
    max-width: 400px !important;
}

.mw-500 {
    max-width: 500px !important;
}

.mw-600 {
    max-width: 600px !important;
}

.nav-icon {
    background: #FFFFFF !important;
    width: 50px !important;
}