.round {
    border-radius: 20px !important;
}

.text-center {
    display: block !important;
    text-align: center !important;
}

.hover:hover {
    opacity: 0.8 !important;
}

.hover-none:hover {
    background-color: white !important;
}

.mw-300 {
    max-width: 300px !important;
}

.mw-400 {
    max-width: 400px !important;
}

.mw-500 {
    max-width: 500px !important;
}

.mw-600 {
    max-width: 600px !important;
}